@import "../../../styles/shared.scss";

div.Tab {
  padding: 0 1.1rem;
  outline: none;
  & > p {
    font-weight: 550;
  }
  & :hover {
    cursor: pointer;
  }
}

div.Tab_active {
  color: $core-yellow;
  text-decoration: underline;
}

div.Tab_inactive {
}
