@import './../../../styles/shared.scss';

div.Contact_container {
  margin-top: 23rem;
  margin-bottom: 23rem;
  display: flex;
  justify-content: center;
  @include respond-to(medium-screens) {
    flex-direction: column;
    align-items: center;
  }
  @include respond-to(small-screens) {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  @include respond-to(xsmall-screens) {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
