@import './../../../styles/shared.scss';

div.Table_container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35rem;
  margin-bottom: 20rem;
  @include respond-to(xlarge-screens) {
    width: 50%;
  }
  @include respond-to(large-screens) {
    width: 60%;
  }
  @include respond-to(medium-screens) {
    width: 70%;
  }
  @include respond-to(small-screens) {
    width: 80%;
  }
  @include respond-to(xsmall-screens) {
    display: none;
  }
  table {
    font-size: 1.1rem;
    width: 100%;
    border-left: none;
  }

  td {
    text-align: center;
    div {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  table,
  th,
  td {
    border-collapse: collapse;
    border-left: 1px solid $core-white;
    border-right: 1px solid $core-white;
  }

  th,
  td {
    padding: 1rem;
  }

  th {
    font-weight: 500;
    border-bottom: 1px solid $core-white;
  }
}
