@import './../../../styles/shared.scss';
@import './../../../styles/typing.scss';

div.StartAnimation_container {
  padding-top: 14rem;
  padding-bottom: 30rem;
  @include respond-to(xlarge-screens) {
    padding-top: 3rem;
    padding-bottom: 20rem;
  }
  @include respond-to(xsmall-screens) {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 5rem;
  }
}

div.Animation_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.7rem 0;
  margin-bottom: 8rem;
  @include respond-to(xlarge-screens) {
    margin: 2rem 0;
  }
  @include respond-to(medium-screens) {
    margin: 2rem 0;
  }

  @include respond-to(small-screens) {
    margin: 1.8rem 0;
  }

  @include respond-to(xsmall-screens) {
    margin: 1.6rem 0;
  }
  & > .Text h1 {
    @include typing(3rem, 1.5s);
    @include respond-to(xsmall-screens) {
      font-size: 1.05rem;
    }
  }
}

div.PC_images {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
  & > .Image {
    transition: opacity 1s ease-in-out;
    filter: blur(12px);
    transform: scale(1.1);
    opacity: 0;
    animation: showImages 0.6s 1s forwards;
    width: 30rem;

    @keyframes showImages {
      to {
        opacity: 100;
        filter: blur(0);
        transform: scale(1);
      }
    }
  }
  & > :nth-child(1) {
    @media only screen and (max-width: 970px) {
      display: none;
    }
  }
  & > :nth-child(2) {
    @include respond-to(xsmall-screens) {
      width: 18rem;
    }
  }
  & > :nth-child(3) {
    @media only screen and (max-width: 1750px) {
      display: none;
    }
  }
}
