@import './styles/shared.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Quicksand:wght@500&family=Raleway&display=swap');

// root styles
:root {
  font-size: 16px;
  font-family: 'Quicksand';
  color: $core-white;
  * {
    box-sizing: border-box;
  }
}

body {
  @include scrollbars();
  line-height: 1.67;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
}
